<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Binding</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Harry Potter and the Prisoner of Azkaban</th>
      <td>J.K. Rowling</td>
      <td>Hardcover</td>
      <td>YES</td>
    </tr>
    <tr>
      <th scope="row">Dresden Files: Cold Days</th>
      <td>Jim Butcher</td>
      <td>Paperback</td>
      <td>NO</td>
    </tr>
    <tr>
      <th scope="row">Old Man's War</th>
      <td>John Scalzi</td>
      <td>Paperback</td>
      <td>YES</td>
    </tr>
  </tbody>
</table>
