<table class="table">
  <thead>
    <tr>
      <th scope="col">Movie</th>
      <th scope="col">Year</th>
      <th scope="col">Format</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">John Wick</th>
      <td>2014</td>
      <td>Blu-Ray</td>
      <td>YES</td>
    </tr>
    <tr>
      <th scope="row">The Fellowship of the Ring</th>
      <td>2001</td>
      <td>DVD</td>
      <td>NO</td>
    </tr>
    <tr>
      <th scope="row">Thor: Ragnarock</th>
      <td>2017</td>
      <td>Blu-Ray</td>
      <td>YES</td>
    </tr>
  </tbody>
</table>
