<table class="table">
  <thead>
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artist</th>
      <th scope="col">Format</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let album of albums">
      <th scope="row">{{ album.albumTitle }}</th>
      <td>{{ album.artist }}</td>
      <td>{{ album.format }}</td>
      <td>
        <img src="../../assets/GREEN.png" *ngIf="album.available">
        <img src="../../assets/RED.png" *ngIf="!album.available">
      </td>
    </tr>
  </tbody>
</table>
