<table class="table">
  <thead>
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artist</th>
      <th scope="col">Format</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Leave a Trace</th>
      <td>Chvches</td>
      <td>Vinyl</td>
      <td>YES</td>
    </tr>
    <tr>
      <th scope="row">Graceland</th>
      <td>Paul Simon</td>
      <td>CD</td>
      <td>NO</td>
    </tr>
    <tr>
      <th scope="row">Nine Tonigh</th>
      <td>Bob Segar</td>
      <td>Cassette</td>
      <td>YES</td>
    </tr>
  </tbody>
</table>
